
/* Kontaktseite Styling */
.contact-main {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 75vh;
    overflow-y: hidden;
}

.contact-container {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid var(--primary-color);
}

.contact-title {
    font-size: 1.8em;
    color: var(--highlight-color);
    margin-bottom: 10px;
}

.contact-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.contact-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.contact-button:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

