
.work p {
    border-bottom: none;
} 

.certificates {
    justify-content: space-between;
}

.certificates img {
    width: 75%;
}

.certificates img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 6px var(--highlight-color));
}

.work {
    margin-bottom: 20px; /* Abstand zwischen den Job-Eintr채gen */
    padding-bottom: 10px;
    border-bottom: 2px solid var(--secondary-color); /* Trennlinie zwischen den Eintr채gen */
}

/* Stil f체r den Job-Titel */
.job-title {
    font-weight: bold;
    color: var(--primary-color);
}

/* Stil f체r die Job-Beschreibung */
.job-desc {
    margin-top: 5px; 
    margin-left: 10%; 
    font-style: italic;
    color: var(--light-color);
    border-left: 3px solid var(--primary-color); 
    padding: 5px;
    margin-bottom: 5px;
}
