/* Colors */
:root {
    --primary-color: #00a74b;
    --secondary-color: #51c083;
    --text-color: #221e1f;
    --background-color: #221e1f;
    --highlight-color: #a2d9bb;
    --light-color: #f3f3f3;
}

body {
    background-color: var(--background-color);
    color: var(--light-color);
    font-family: 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-links a {
    color: var(--text-color);
    padding: 12px;
    font-size: 20px;
    text-decoration: none;
    font-family: Impact, sans-serif;
}

.nav-links a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#sidebar {
    flex: 1 1 300px;
    position: relative;
    margin: 20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

#sidebar img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#sidebar a {
    color: var(--text-color);
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 10px;
    width: 100%;
    border: var(--highlight-color) 2px dotted;
    margin-top: 20px;
    padding: 10px;
}

#sidebar a:hover {
    border: var(--text-color) 2px dotted;
    background-color: var(--highlight-color);
}

.content {
    flex: 3 1 600px;
    margin: 20px;
}

h2 {
    color: var(--secondary-color);
    text-decoration: underline dotted;
    margin-left: 4%;
    font-size: 1.5em;
}

p {
    margin: 0 20% 30px 4%;
    border-bottom: 5px dotted var(--primary-color);
    padding: 0 15% 30px 15%;
    line-height: 1.6;
}

#footer {
    padding-left: 4%;
    padding-right: 20%;
    flex-wrap: wrap;
    width: 76%;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #sidebar, .content {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar a {
        padding: 10px;
        width: 100%;
    }
}