

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    grid-column: 1 / -1;
}

footer a {
    color: var(--text-color);
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
