main {
    padding: 20px;
    overflow-y: auto;
}


main h2 {
    color: var(--secondary-color);
    text-decoration: underline dotted;
    margin-left: 4%;
    font-size: 1.5em;
}

main p {
    margin: 0 20% 30px 4%;
    border-bottom: 5px dotted var(--primary-color);
    padding: 0 15% 30px 15%;
    line-height: 1.6;
}

