header {
    grid-column: 1 / -1;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto;
    background-color: #221e1f;
}

header div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-right: 9%;
}

header h2 {
    margin: 0;
    color: var(--primary-color);
    text-align: center;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}

header nav a {
    color: var(--text-color);
    font-size: 20px;
    text-decoration: none;
    font-family: Impact, sans-serif;
    padding: 0 10px 0 10px;
}

header nav a:hover {
    background-color: var(--highlight-color);
    border-radius: 5px;
}