aside {
    background-color: var(--background-color);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x:hidden;
}

aside img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

aside a {
    color: var(--text-color);
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 10px;
    width: 100%;
    border: var(--highlight-color) 1px solid;
    margin-top: 7%;
    padding: 4%;
    transition: 1s ease;
}

aside a:hover {
    border: var(--light-color) 1px solid;
    background-color: var(--highlight-color);
    width: 75%;
    border-radius: 20px;
    transition: 0.3s ease;
}

aside a:hover::before{
    content: "-->";
}

aside a:hover::after{
    content: "<--";
}