@import url('navbar.css');
@import url('sidebar.css');
@import url('main.css');
@import url('footer.css');

/* Colors 
:root {
    --primary-color: #00a74b;
    --secondary-color: #51c083;
    --text-color: #221e1f;
    --background-color: #221e1f;
    --highlight-color: #a2d9bb;
    --light-color: #f3f3f3;
}*/
/* Colors */
:root {
    --primary-color: #738678;
    --secondary-color: #00a74b;
    --text-color: #221e1f;
    --background-color: #221e1f;
    --highlight-color: #DC136C;
    --light-color: #F7C1BB;
}
body {
    background-color: var(--background-color);
    color: var(--light-color);
    font-family: 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto auto auto max-content;
}



a {
    color: var(--highlight-color);
    text-decoration: none;
}

::selection {
    color: var(--background-color);
    background: var(--primary-color);
}